<hr>
<div *ngIf="!(logged$ | async)">
  <span>No user logged</span>
  <img width="45px" height="45px" src="../assets/img/users/no-user.png" alt="no user">
</div>

<div *ngIf="(logged$ | async)">
  <span>Hi {{username$ | async }}</span>
  <img width="45px" height="45px" src="../assets/img/users/{{photoUrl$ | async}}" alt="hi user">
</div>

<br><hr>
<input #userNameInput [disabled]="false" type="text">
<button style="margin-left: 5px" (click)="login(userNameInput.value)" [disabled]="(logged$ | async)">LOGIN</button>
<button style="margin-left: 5px" (click)="logout()" [disabled]="!(logged$ | async)">LOGOUT</button>

<br><hr>

<span>Books count: {{(books$ | async)?.length}}</span>
<button style="margin-left: 5px" (click)="loadBooks()" [disabled]="!(logged$ | async)">LOAD</button>

